<% if !current_person %>
  <%= form_tag login_path do %>
    <p>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </p>
    <p>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </p>
    <%= submit_tag 'Log in', :name => nil %>
  <% end %>
<% end %>
